<section class="article-showcase" aria-labelledby="article-showcase-water-title">
  <div class="container">
    <div class="section-head">
      <span class="section-head__line section-head__line--left"></span>
      <h2 class="section-head__title" id="article-showcase-water-title">Обливное устройство</h2>
      <span class="section-head__line section-head__line--right"></span>
    </div>
    <div class="article-showcase__slider swiper" data-article-showcase-swiper>
      <ul class="article-showcase__list swiper-wrapper list-reset">
        <li class="swiper-slide">
          <a class="article-showcase__card" href="#">
            <span class="article-showcase__media">
              <picture>
                <source srcset="img/article/article-showcase-1.webp" type="image/webp">
                <img src="img/article/article-showcase-1.png" width="300" height="250" loading="lazy" alt="">
              </picture>
            </span>
            <span class="article-showcase__tag">Вентиляция для бани</span>
            <span class="article-showcase__name">Система двуконтурных дымоходов Super Wool 1260°</span>
          </a>
        </li>
        <li class="swiper-slide">
          <a class="article-showcase__card" href="#">
            <span class="article-showcase__media">
              <picture>
                <source srcset="img/article/article-showcase-2.webp" type="image/webp">
                <img src="img/article/article-showcase-2.png" width="300" height="250" loading="lazy" alt="">
              </picture>
            </span>
            <span class="article-showcase__tag">Вентиляция для бани</span>
            <span class="article-showcase__name">Система двуконтурных дымоходов Super Wool 1260°</span>
          </a>
        </li>
        <li class="swiper-slide">
          <a class="article-showcase__card" href="#">
            <span class="article-showcase__media">
              <picture>
                <source srcset="img/article/article-showcase-3.webp" type="image/webp">
                <img src="img/article/article-showcase-3.png" width="300" height="250" loading="lazy" alt="">
              </picture>
            </span>
            <span class="article-showcase__tag">Вентиляция для бани</span>
            <span class="article-showcase__name">Система двуконтурных дымоходов Super Wool 1260°</span>
          </a>
        </li>
        <li class="swiper-slide">
          <a class="article-showcase__card" href="#">
            <span class="article-showcase__media">
              <picture>
                <source srcset="img/article/article-showcase-4.webp" type="image/webp">
                <img src="img/article/article-showcase-4.png" width="300" height="250" loading="lazy" alt="">
              </picture>
            </span>
            <span class="article-showcase__tag">Вентиляция для бани</span>
            <span class="article-showcase__name">Система двуконтурных дымоходов Super Wool 1260°</span>
          </a>
        </li>
      </ul>
      <div class="article-showcase__controls">
        <button class="btn-reset article-showcase__nav article-showcase__nav--prev" type="button" aria-label="Предыдущий слайд"></button>
        <div class="article-showcase__counter">
          <span data-showcase-current>01</span><span class="article-showcase__counter-sep">/</span><span class="article-showcase__counter-total" data-showcase-total>04</span>
        </div>
        <button class="btn-reset article-showcase__nav article-showcase__nav--next" type="button" aria-label="Следующий слайд"></button>
      </div>
    </div>
  </div>
</section>
