<section class="article-overview" aria-labelledby="article-overview-title">
  <div class="container">
    <div class="article-overview__layout">
      <div class="article-overview__copy">
        <p class="article-overview__text" id="article-overview-title">
          Производитель печей, дымоходов и&nbsp;комплексных решений для&nbsp;бани и&nbsp;дома. Компания ведёт полный цикл разработки и&nbsp;производства,
          контролируя качество на&nbsp;каждом этапе&nbsp;&mdash; от&nbsp;инженерных расчётов до&nbsp;готового изделия. Основной фокус&nbsp;&mdash; надёжность,
          безопасность и&nbsp;развитие устойчивой дилерской сети.
        </p>
        <p class="article-overview__text article-overview__text--continue">
          ведёт полный цикл разработки и&nbsp;производства, контролируя качество на&nbsp;каждом этапе&nbsp;&mdash; от&nbsp;инженерных расчётов
          до&nbsp;готового изделия. Основной фокус&nbsp;&mdash; надёжность, безопасность и&nbsp;развитие устойчивой дилерской сети.
        </p>
      </div>
      <ul class="article-overview__features list-reset">
        <li><span class="article-overview__icon" aria-hidden="true"></span><span>Металлическая (сталь/чугун):&nbsp;Быстрый нагрев</span></li>
        <li><span class="article-overview__icon" aria-hidden="true"></span><span>Металлическая (сталь/чугун):&nbsp;Быстрый нагрев</span></li>
        <li><span class="article-overview__icon" aria-hidden="true"></span><span>Металлическая (сталь/чугун):&nbsp;Быстрый нагрев</span></li>
        <li><span class="article-overview__icon" aria-hidden="true"></span><span>Металлическая (сталь/чугун):&nbsp;Быстрый нагрев</span></li>
      </ul>
    </div>
  </div>
</section>
