<section class="article-tags" aria-labelledby="article-tags-title">
  <div class="container">
    <div class="section-head section-head--tags">
      <span class="section-head__line section-head__line--left"></span>
      <h2 class="section-head__title" id="article-tags-title">Часто ищут</h2>
      <span class="section-head__line section-head__line--right"></span>
    </div>
    <div class="article-tags__cloud">
      <a class="article-tags__link article-tags__link--active" href="#">Агентство по подбору персонала</a>
      <a class="article-tags__link" href="#">Подбор персонала по отраслям</a>
      <a class="article-tags__link" href="#">Поиск и подбор персонала</a>
      <a class="article-tags__link" href="#">Кадровое агентство в Москве</a>
      <a class="article-tags__link" href="#">Услуги кадрового агентства</a>
      <a class="article-tags__link" href="#">Рекрутинговое агентство</a>
      <a class="article-tags__link" href="#">Рекрутинговое агентство</a>
    </div>
  </div>
</section>
