<section class="article-branches" aria-labelledby="article-branches-title">
  <div class="container">
    <div class="section-head">
      <span class="section-head__line section-head__line--left"></span>
      <h2 class="section-head__title" id="article-branches-title">Контакты</h2>
      <span class="section-head__line section-head__line--right"></span>
    </div>
    <div
      class="article-branches__map"
      id="article-branches-map"
      role="presentation"
      data-ymaps-role="branches"
    ></div>
    <div class="article-branches__rows">
      <article class="article-branches__row" data-ymaps-lat="56.331423" data-ymaps-lon="43.900887">
        <h3 class="article-branches__city">Нижний Новгород</h3>
        <div class="article-branches__meta">
          <p class="article-branches__shop">Название магазина</p>
          <p class="article-branches__info article-branches__info--address">
            <svg class="article-branches__icon" width="16" height="20" aria-hidden="true">
              <use href="img/sprite.svg#pin"></use>
            </svg>
            Адрес: Сормовское шоссе, 1 Б, корпус 2
          </p>
          <p class="article-branches__info article-branches__info--hours">
            <svg class="article-branches__icon" width="18" height="20" aria-hidden="true">
              <use href="img/sprite.svg#calendar"></use>
            </svg>
            График: Понедельник-Пятница с 9.00 до 18.00<br>Выходной: Суббота, Воскресение
          </p>
          <p class="article-branches__info article-branches__info--phone">
            <svg class="article-branches__icon article-branches__icon--phone" width="17" height="17" viewBox="0 0 17 17" aria-hidden="true">
              <path fill="currentcolor" d="M3.2 1h2.4c.9 0 1.6.7 1.7 1.6l.3 3c0 .9-.5 1.7-1.3 2l-1.4.4a12 12 0 0 0 5.5 5.5l.4-1.4c.3-.8 1.1-1.3 2-1.3l3-.3c.9-.1 1.6.7 1.6 1.7v2.3c0 .8-.6 1.5-1.4 1.6C11.5 16 1 5.5 1 3.3 1 2.5 1.6 2 2.4 2h.8Z"/>
            </svg>
            Телефон:8 (800) 500-54-42
          </p>
          <a class="article-branches__map-link js-article-branches-map-link" href="#article-branches-map">Показать на карте</a>
        </div>
      </article>

      <article class="article-branches__row" data-ymaps-lat="55.755864" data-ymaps-lon="37.617698">
        <h3 class="article-branches__city">Москва</h3>
        <div class="article-branches__meta">
          <p class="article-branches__shop">Название магазина</p>
          <p class="article-branches__info article-branches__info--address">
            <svg class="article-branches__icon" width="16" height="20" aria-hidden="true">
              <use href="img/sprite.svg#pin"></use>
            </svg>
            Адрес: Сормовское шоссе, 1 Б, корпус 2
          </p>
          <p class="article-branches__info article-branches__info--hours">
            <svg class="article-branches__icon" width="18" height="20" aria-hidden="true">
              <use href="img/sprite.svg#calendar"></use>
            </svg>
            График: Понедельник-Пятница с 9.00 до 18.00<br>Выходной: Суббота, Воскресение
          </p>
          <p class="article-branches__info article-branches__info--phone">
            <svg class="article-branches__icon article-branches__icon--phone" width="17" height="17" viewBox="0 0 17 17" aria-hidden="true">
              <path fill="currentcolor" d="M3.2 1h2.4c.9 0 1.6.7 1.7 1.6l.3 3c0 .9-.5 1.7-1.3 2l-1.4.4a12 12 0 0 0 5.5 5.5l.4-1.4c.3-.8 1.1-1.3 2-1.3l3-.3c.9-.1 1.6.7 1.6 1.7v2.3c0 .8-.6 1.5-1.4 1.6C11.5 16 1 5.5 1 3.3 1 2.5 1.6 2 2.4 2h.8Z"/>
            </svg>
            Телефон:8 (800) 500-54-42
          </p>
          <a class="article-branches__map-link js-article-branches-map-link" href="#article-branches-map">Показать на карте</a>
        </div>
      </article>

      <article class="article-branches__row" data-ymaps-lat="55.796289" data-ymaps-lon="49.108795">
        <h3 class="article-branches__city">Казань</h3>
        <div class="article-branches__meta">
          <p class="article-branches__shop">Название магазина</p>
          <p class="article-branches__info article-branches__info--address">
            <svg class="article-branches__icon" width="16" height="20" aria-hidden="true">
              <use href="img/sprite.svg#pin"></use>
            </svg>
            Адрес: Сормовское шоссе, 1 Б, корпус 2
          </p>
          <p class="article-branches__info article-branches__info--hours">
            <svg class="article-branches__icon" width="18" height="20" aria-hidden="true">
              <use href="img/sprite.svg#calendar"></use>
            </svg>
            График: Понедельник-Пятница с 9.00 до 18.00<br>Выходной: Суббота, Воскресение
          </p>
          <p class="article-branches__info article-branches__info--phone">
            <svg class="article-branches__icon article-branches__icon--phone" width="17" height="17" viewBox="0 0 17 17" aria-hidden="true">
              <path fill="currentcolor" d="M3.2 1h2.4c.9 0 1.6.7 1.7 1.6l.3 3c0 .9-.5 1.7-1.3 2l-1.4.4a12 12 0 0 0 5.5 5.5l.4-1.4c.3-.8 1.1-1.3 2-1.3l3-.3c.9-.1 1.6.7 1.6 1.7v2.3c0 .8-.6 1.5-1.4 1.6C11.5 16 1 5.5 1 3.3 1 2.5 1.6 2 2.4 2h.8Z"/>
            </svg>
            Телефон:8 (800) 500-54-42
          </p>
          <a class="article-branches__map-link js-article-branches-map-link" href="#article-branches-map">Показать на карте</a>
        </div>
      </article>
    </div>
  </div>
</section>
