<section class="article-read-more article-read-more--recommend" aria-labelledby="article-recommend-title">
  <div class="container">
    <div class="section-head">
      <span class="section-head__line section-head__line--left"></span>
      <h2 class="section-head__title" id="article-recommend-title">Рекомендуем посмотреть</h2>
      <span class="section-head__line section-head__line--right"></span>
    </div>
    <div class="systems__cards">
      <a class="systems-card systems-card--compact" href="#">
        <div class="systems-card__head systems-card__head--compact">
          <h3 class="systems-card__title">Основной фокус&nbsp;— надёжность, безопасность</h3>
          <img class="systems-card__arrow-img" src="img/svg/arrow.svg" width="24" height="24" alt="" aria-hidden="true">
        </div>
      </a>
      <a class="systems-card systems-card--compact" href="#">
        <div class="systems-card__head systems-card__head--compact">
          <h3 class="systems-card__title">Основной фокус&nbsp;— надёжность, безопасность</h3>
          <img class="systems-card__arrow-img" src="img/svg/arrow.svg" width="24" height="24" alt="" aria-hidden="true">
        </div>
      </a>
      <a class="systems-card systems-card--compact" href="#">
        <div class="systems-card__head systems-card__head--compact">
          <h3 class="systems-card__title">Основной фокус&nbsp;— надёжность, безопасность и&nbsp;развитие устойчивой</h3>
          <img class="systems-card__arrow-img" src="img/svg/arrow.svg" width="24" height="24" alt="" aria-hidden="true">
        </div>
      </a>
      <a class="systems-card systems-card--compact" href="#">
        <div class="systems-card__head systems-card__head--compact">
          <h3 class="systems-card__title">Основной фокус&nbsp;— надёжность, безопасность</h3>
          <img class="systems-card__arrow-img" src="img/svg/arrow.svg" width="24" height="24" alt="" aria-hidden="true">
        </div>
      </a>
      <a class="systems-card systems-card--compact" href="#">
        <div class="systems-card__head systems-card__head--compact">
          <h3 class="systems-card__title">Основной фокус&nbsp;— надёжность, безопасность</h3>
          <img class="systems-card__arrow-img" src="img/svg/arrow.svg" width="24" height="24" alt="" aria-hidden="true">
        </div>
      </a>
      <a class="systems-card systems-card--compact" href="#">
        <div class="systems-card__head systems-card__head--compact">
          <h3 class="systems-card__title">Основной фокус&nbsp;— надёжность, безопасность и&nbsp;развитие устойчивой</h3>
          <img class="systems-card__arrow-img" src="img/svg/arrow.svg" width="24" height="24" alt="" aria-hidden="true">
        </div>
      </a>
    </div>
  </div>
</section>
