<section class="article-showcase article-showcase--vent" aria-labelledby="article-showcase-vent-title">
  <div class="container">
    <div class="section-head">
      <span class="section-head__line section-head__line--left"></span>
      <h2 class="section-head__title" id="article-showcase-vent-title">Вентиляция для бани</h2>
      <span class="section-head__line section-head__line--right"></span>
    </div>
    <ul class="article-showcase__list list-reset">
      <li><a class="article-showcase__card" href="#"><span class="article-showcase__media"><img src="img/home/product-bath-ventilation.png" width="300" height="250" loading="lazy" alt=""></span><span class="article-showcase__tag">Вентиляция для бани</span><span class="article-showcase__name">Система двуконтурных дымоходов Super Wool 1260°</span></a></li>
      <li><a class="article-showcase__card" href="#"><span class="article-showcase__media"><img src="img/home/product-chimney.png" width="300" height="250" loading="lazy" alt=""></span><span class="article-showcase__tag">Вентиляция для бани</span><span class="article-showcase__name">Система двуконтурных дымоходов Super Wool 1260°</span></a></li>
      <li><a class="article-showcase__card" href="#"><span class="article-showcase__media"><img src="img/home/product-bath-stove.png" width="300" height="250" loading="lazy" alt=""></span><span class="article-showcase__tag">Вентиляция для бани</span><span class="article-showcase__name">Система двуконтурных дымоходов Super Wool 1260°</span></a></li>
      <li>
        <a class="article-showcase__card article-showcase__card--dark" href="#">
          <span class="article-showcase__media"><img src="img/home/product-home-stove.png" width="300" height="250" loading="lazy" alt=""></span>
          <span class="article-showcase__head">
            <span class="article-showcase__tag">СИСТЕМА ДЛЯ ДОМА</span>
            <img class="article-showcase__arrow" src="img/svg/arrow.svg" width="30" height="30" alt="">
          </span>
          <p class="article-showcase__name">Трёхконтурный дымоход и теплообменник — надёжный отвод дыма и обогрев смежных помещений без затрат на электричество.</p>
        </a>
      </li>
    </ul>
  </div>
</section>
