<section class="article-quiz" aria-labelledby="article-quiz-title">
  <div class="container">
    <div class="article-quiz__inner">
      <figure class="article-quiz__pane article-quiz__pane--left">
        <picture>
          <source srcset="img/equipment/q1.webp" type="image/webp">
          <img src="img/equipment/q1.png" width="413" height="377" loading="lazy" alt="Схема комплектации: парная и дымоход">
        </picture>
      </figure>
      <div class="article-quiz__top">
        <div class="article-quiz__intro">
          <h2 class="article-quiz__title" id="article-quiz-title">Подбор банной печи</h2>
          <p class="article-quiz__text">Введите параметры парной&nbsp;&mdash; калькулятор определит расчётный объём и&nbsp;подберёт подходящую печь ЖарGO.</p>
        </div>
        <button class="article-quiz__cta btn-reset" type="button" data-quiz-open data-graph-path="quiz">Начать подбор &rarr;</button>
      </div>
      <figure class="article-quiz__pane article-quiz__pane--right">
        <picture>
          <source srcset="img/equipment/q2.webp" type="image/webp">
          <img src="img/equipment/q2.png" width="413" height="377" loading="lazy" alt="Схема комплектации: подключение и безопасность">
        </picture>
      </figure>
      <button class="article-quiz__help btn-reset" type="button" data-graph-path="quiz-hint" aria-label="Справка по подбору">?</button>
    </div>
  </div>
</section>
