<section class="bath-series" aria-labelledby="bath-series-title">
  <div class="container">
    <div class="section-head bath-series__head">
      <span class="section-head__line section-head__line--left"></span>
      <h2 class="section-head__title" id="bath-series-title">Серии печей для бани</h2>
      <span class="section-head__line section-head__line--right"></span>
    </div>
    <div class="bath-series__rows">
      @include('bath-stoves-compare-row.html')
      @include('bath-stoves-compare-row.html')
      @include('bath-stoves-compare-row.html')
    </div>
  </div>
</section>
