<section class="hero hero--chimneys bath-product-hero" aria-label="Товар">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <div class="hero__lead">
          <nav class="hero__breadcrumb" aria-label="Навигация по разделам">
            <a class="hero__breadcrumb-link" href="index.html">Главная</a><span class="hero__breadcrumb-sep">/</span><a class="hero__breadcrumb-link" href="#">Печи</a><span class="hero__breadcrumb-sep">/</span><a class="hero__breadcrumb-link" href="#">Отопительные печи для дома</a><span class="hero__breadcrumb-sep">/</span><span class="hero__breadcrumb-current">Отопительные печи Прометей</span>
          </nav>
          <div class="hero__title-group">
            <h1 class="hero__title">Отопительные печи Прометей</h1>
            <p class="hero__subtitle">
              Предназначена для отопления частных домов, дач, гаражей, теплиц, а&nbsp;также для приготовления и&nbsp;разогрева пищи. Печь относится к&nbsp;нагревательным устройствам конвекционного типа, работающим на&nbsp;твердом топливе (дрова)
            </p>
          </div>
        </div>
        <ul class="hero__features list-reset" aria-label="Связанные системы">
          <li class="hero__features-item">
            <a class="hero__features-link" href="#">Система двуконтурных дымоходов Standard 550&deg;</a>
          </li>
          <li class="hero__features-item">
            <a class="hero__features-link" href="#">Система двуконтурных дымоходов Standard 550&deg;</a>
          </li>
          <li class="hero__features-item">
            <a class="hero__features-link" href="#">Система двуконтурных дымоходов Standard 550&deg;</a>
          </li>
          <li class="hero__features-item">
            <a class="hero__features-link" href="#">Система двуконтурных дымоходов Standard 550&deg;</a>
          </li>
        </ul>
      </div>
      <figure class="hero__media hero__media--chimneys">
        <div class="bath-product-hero__image">
          <img src="img/product/bath-product-view-1.png" width="515" height="274" loading="eager" alt="">
        </div>
      </figure>
    </div>
  </div>
</section>
