<section class="hero hero--chimneys bath-product-hero" aria-label="Товар">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <nav class="hero__breadcrumb" aria-label="Навигация по разделам">
          <a class="hero__breadcrumb-link" href="index.html">Главная</a><span class="hero__breadcrumb-sep">/</span><a class="hero__breadcrumb-link" href="#">Печи</a><span class="hero__breadcrumb-sep">/</span><a class="hero__breadcrumb-link" href="#">Отопительные печи для дома</a><span class="hero__breadcrumb-sep">/</span><span class="hero__breadcrumb-current">Отопительные печи Прометей</span>
        </nav>
        <h1 class="hero__title">Отопительные печи Прометей</h1>
        <p class="hero__subtitle">
          Предназначена для отопления частных домов, дач, гаражей, теплиц, а&nbsp;также для приготовления и&nbsp;разогрева пищи. Печь относится к&nbsp;нагревательным устройствам конвекционного типа, работающим на&nbsp;твердом топливе (дрова)
        </p>
      </div>
      <figure class="hero__media hero__media--chimneys">
        <div
          class="product-rotate"
          data-product-rotate
          tabindex="0"
          aria-label="Ракурс товара. Потяните влево или вправо, либо используйте стрелки на клавиатуре."
        >
          <div class="product-rotate__visual">
            <span class="product-rotate__glow" aria-hidden="true"></span>
            <div class="product-rotate__viewport">
              <div class="product-rotate__layers">
                <picture class="product-rotate__layer is-active" data-product-rotate-layer>
                  <img src="img/product/bath-product-view-1.png" width="515" height="274" loading="eager" alt="Товар, ракурс 1" draggable="false">
                </picture>
                <picture class="product-rotate__layer" data-product-rotate-layer>
                  <img src="img/product/bath-product-view-2.png" width="515" height="274" loading="lazy" alt="Товар, ракурс 2" draggable="false">
                </picture>
                <picture class="product-rotate__layer" data-product-rotate-layer>
                  <img src="img/product/bath-product-view-3.png" width="515" height="274" loading="lazy" alt="Товар, ракурс 3" draggable="false">
                </picture>
              </div>
            </div>
          </div>
          <button type="button" class="product-rotate__hint" aria-label="Следующий ракурс">
            <img src="img/svg/product-rotate-hint.svg" width="60" height="60" alt="" draggable="false">
          </button>
        </div>
      </figure>
    </div>
  </div>
</section>
