<section class="bath-product-specs" aria-labelledby="bath-product-specs-title">
  <div class="container">
    <h2 class="bath-product-section-title" id="bath-product-specs-title">Характеристики</h2>
    <div class="bath-product-spec-columns">
      <div class="bath-product-spec-columns__col">
        <div class="bath-product-spec-row">
          <span class="bath-product-spec-row__label">Тип:</span>
          <span class="bath-product-spec-row__line" aria-hidden="true"></span>
          <span class="bath-product-spec-row__value">аналог</span>
        </div>
        <div class="bath-product-spec-row">
          <span class="bath-product-spec-row__label">Гарантия:</span>
          <span class="bath-product-spec-row__line" aria-hidden="true"></span>
          <span class="bath-product-spec-row__value">12&nbsp;месяцев</span>
        </div>
        <div class="bath-product-spec-row">
          <span class="bath-product-spec-row__label">Напряжение:</span>
          <span class="bath-product-spec-row__line" aria-hidden="true"></span>
          <span class="bath-product-spec-row__value">19V</span>
        </div>
        <div class="bath-product-spec-row">
          <span class="bath-product-spec-row__label">Тип разъема:</span>
          <span class="bath-product-spec-row__line" aria-hidden="true"></span>
          <span class="bath-product-spec-row__value">5.5x1.7&nbsp;мм</span>
        </div>
        <div class="bath-product-spec-row">
          <span class="bath-product-spec-row__label">Мощность:</span>
          <span class="bath-product-spec-row__line" aria-hidden="true"></span>
          <span class="bath-product-spec-row__value">65&nbsp;Вт</span>
        </div>
      </div>
      <div class="bath-product-spec-columns__col">
        <div class="bath-product-spec-row">
          <span class="bath-product-spec-row__label">Тип:</span>
          <span class="bath-product-spec-row__line" aria-hidden="true"></span>
          <span class="bath-product-spec-row__value">оригинальный</span>
        </div>
        <div class="bath-product-spec-row">
          <span class="bath-product-spec-row__label">Гарантия:</span>
          <span class="bath-product-spec-row__line" aria-hidden="true"></span>
          <span class="bath-product-spec-row__value">12&nbsp;месяцев</span>
        </div>
        <div class="bath-product-spec-row">
          <span class="bath-product-spec-row__label">Напряжение:</span>
          <span class="bath-product-spec-row__line" aria-hidden="true"></span>
          <span class="bath-product-spec-row__value">19V</span>
        </div>
        <div class="bath-product-spec-row">
          <span class="bath-product-spec-row__label">Тип разъема:</span>
          <span class="bath-product-spec-row__line" aria-hidden="true"></span>
          <span class="bath-product-spec-row__value">5.5x1.7&nbsp;мм</span>
        </div>
        <div class="bath-product-spec-row">
          <span class="bath-product-spec-row__label">Мощность:</span>
          <span class="bath-product-spec-row__line" aria-hidden="true"></span>
          <span class="bath-product-spec-row__value">65&nbsp;Вт</span>
        </div>
      </div>
    </div>
  </div>
</section>
