<div class="bath-series__row">
  <div class="bath-series__compare">
    <article class="bath-series-card bath-series-card--with-note">
      <div class="bath-series-card__top">
        <figure class="bath-series-card__figure">
          <picture>
            <source srcset="img/equipment/q1.webp" type="image/webp">
            <img src="img/equipment/q1.png" width="176" height="156" loading="lazy" alt="">
          </picture>
        </figure>
        <div class="bath-series-card__intro">
          <p class="bath-series-card__category">Стальные печи</p>
          <div class="bath-series-card__name-row">
            <h3 class="bath-series-card__name">ЖарGo оптима</h3>
            <a class="bath-series-card__link btn-reset" href="#" aria-label="Подробнее о модели">
              <img src="img/svg/arrow.svg" width="24" height="24" alt="">
            </a>
          </div>
          <p class="bath-series-card__lead">Компактная печь для небольшой парной может быть до двух строк</p>
          <div class="bath-series-card__meta">
            <span class="bath-series-card__meta-item">Объем парной 6-14 м<sup>2</sup></span>
            <span class="bath-series-card__meta-item bath-series-card__meta-item--right">Базовая</span>
          </div>
          <ul class="bath-series-card__tags list-reset">
            <li><span class="bath-series-card__tag">Открытая каменка</span></li>
            <li><span class="bath-series-card__tag">Сталь09Г2С</span></li>
            <li><span class="bath-series-card__tag">Быстрый выход на режим</span></li>
          </ul>
        </div>
      </div>
      <hr class="bath-series-card__rule">
      <ul class="bath-series-card__bullets list-reset">
        <li class="bath-series-card__bullet">Открытая сетка помещает большой объём камней&nbsp;&mdash; они нагревают воздух и держат тепло в парной</li>
        <li class="bath-series-card__bullet">Компактный корпус&nbsp;&mdash; подходит для небольшой парной, не занимет линего места</li>
        <li class="bath-series-card__bullet">Простая надёжная конструкция без лишних деталей&nbsp;&mdash; легко обслуживать</li>
      </ul>
      <hr class="bath-series-card__rule">
      <div class="bath-series-card__metrics" aria-label="Сравнение характеристик">
        <div class="bath-series-card__metrics-row">
          <div class="bath-series-card__metric">
            <p class="bath-series-card__metric-label">Мягкость пара</p>
            <div class="bath-series-card__metric-body">
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath"></use>
              </svg>
              <div class="bath-series-card__segments" role="presentation">
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
              </div>
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-1"></use>
              </svg>
            </div>
          </div>
          <div class="bath-series-card__metric">
            <p class="bath-series-card__metric-label">Скорость прогрева</p>
            <div class="bath-series-card__metric-body">
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-2"></use>
              </svg>
              <div class="bath-series-card__segments" role="presentation">
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
              </div>
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-3"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="bath-series-card__metrics-row">
          <div class="bath-series-card__metric">
            <p class="bath-series-card__metric-label">Теплоемкость</p>
            <div class="bath-series-card__metric-body">
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-4"></use>
              </svg>
              <div class="bath-series-card__segments" role="presentation">
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
              </div>
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-5"></use>
              </svg>
            </div>
          </div>
          <div class="bath-series-card__metric">
            <p class="bath-series-card__metric-label">Расход дров</p>
            <div class="bath-series-card__metric-body">
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-6"></use>
              </svg>
              <div class="bath-series-card__segments" role="presentation">
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
              </div>
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-7"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <hr class="bath-series-card__rule">
      <p class="bath-series-card__note">Не рекомендуется для банных печей и каминов из-за высокого температурного режима. Режим эксплуатации зависит от типа теплогенератора.</p>
    </article>

    <article class="bath-series-card">
      <div class="bath-series-card__top">
        <figure class="bath-series-card__figure">
          <picture>
            <source srcset="img/equipment/q2.webp" type="image/webp">
            <img src="img/equipment/q2.png" width="176" height="156" loading="lazy" alt="">
          </picture>
        </figure>
        <div class="bath-series-card__intro">
          <p class="bath-series-card__category">Стальные печи</p>
          <div class="bath-series-card__name-row">
            <h3 class="bath-series-card__name">ЖарGo оптима</h3>
            <a class="bath-series-card__link btn-reset" href="#" aria-label="Подробнее о модели">
              <img src="img/svg/arrow.svg" width="24" height="24" alt="">
            </a>
          </div>
          <p class="bath-series-card__lead">Компактная печь для небольшой парной может быть до двух строк</p>
          <div class="bath-series-card__meta">
            <span class="bath-series-card__meta-item">Объем парной 6-14 м<sup>2</sup></span>
            <span class="bath-series-card__meta-item bath-series-card__meta-item--right">Базовая</span>
          </div>
          <ul class="bath-series-card__tags list-reset">
            <li><span class="bath-series-card__tag">Открытая каменка</span></li>
            <li><span class="bath-series-card__tag">Сталь09Г2С</span></li>
            <li><span class="bath-series-card__tag">Быстрый выход на режим</span></li>
          </ul>
        </div>
      </div>
      <hr class="bath-series-card__rule">
      <ul class="bath-series-card__bullets list-reset">
        <li class="bath-series-card__bullet">Открытая сетка помещает большой объём камней&nbsp;&mdash; они нагревают воздух и держат тепло в парной</li>
        <li class="bath-series-card__bullet">Компактный корпус&nbsp;&mdash; подходит для небольшой парной, не занимет линего места</li>
        <li class="bath-series-card__bullet">Простая надёжная конструкция без лишних деталей&nbsp;&mdash; легко обслуживать</li>
      </ul>
      <hr class="bath-series-card__rule">
      <div class="bath-series-card__metrics" aria-label="Сравнение характеристик">
        <div class="bath-series-card__metrics-row">
          <div class="bath-series-card__metric">
            <p class="bath-series-card__metric-label">Мягкость пара</p>
            <div class="bath-series-card__metric-body">
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath"></use>
              </svg>
              <div class="bath-series-card__segments" role="presentation">
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
              </div>
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-1"></use>
              </svg>
            </div>
          </div>
          <div class="bath-series-card__metric">
            <p class="bath-series-card__metric-label">Скорость прогрева</p>
            <div class="bath-series-card__metric-body">
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-2"></use>
              </svg>
              <div class="bath-series-card__segments" role="presentation">
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
              </div>
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-3"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="bath-series-card__metrics-row">
          <div class="bath-series-card__metric">
            <p class="bath-series-card__metric-label">Теплоемкость</p>
            <div class="bath-series-card__metric-body">
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-4"></use>
              </svg>
              <div class="bath-series-card__segments" role="presentation">
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
              </div>
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-5"></use>
              </svg>
            </div>
          </div>
          <div class="bath-series-card__metric">
            <p class="bath-series-card__metric-label">Расход дров</p>
            <div class="bath-series-card__metric-body">
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-6"></use>
              </svg>
              <div class="bath-series-card__segments" role="presentation">
                <span class="bath-series-card__seg bath-series-card__seg--on"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
                <span class="bath-series-card__seg"></span>
              </div>
              <svg class="bath-series-card__metric-icon" width="18" height="18" aria-hidden="true" focusable="false">
                <use href="img/sprite.svg#bath-7"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <hr class="bath-series-card__rule">
    </article>
  </div>
</div>
