<div class="cabinet-dealer-toolbar materials-board__toolbar">
  <div class="materials-board__chips materials-board__chips--narrow" role="group" aria-label="Тип файла">
    <button class="materials-chip btn-reset" type="button">Тип</button>
    <button class="materials-chip btn-reset" type="button">Тип</button>
    <button class="materials-chip btn-reset" type="button">Тип</button>
    <button class="materials-chip btn-reset" type="button">Тип</button>
    <button class="materials-chip btn-reset" type="button">Тип</button>
    <button class="materials-chip materials-chip--accent btn-reset" type="button">Все</button>
  </div>
  <label class="materials-search materials-search--compact">
    <span class="visually-hidden">Поиск по файлам</span>
    <input class="materials-search__input" type="search" name="dealer-files-search" placeholder="Поиск по файлам" autocomplete="off">
    <span class="materials-search__icon" aria-hidden="true">
      <img src="img/svg/Magnifer.svg" width="24" height="24" alt="">
    </span>
  </label>
</div>
