<form class="cabinet-pass" action="#" method="post">
  <div class="cabinet-pass__row">
    <div class="cabinet-pass__fields">
      <label class="cabinet-field">
        <span class="cabinet-field__label">Старый пароль</span>
        <span class="cabinet-field__control">
          <input class="cabinet-field__input" type="password" name="password-old" autocomplete="current-password" required>
          <button class="cabinet-field__toggle btn-reset" type="button" data-password-toggle aria-label="Показать пароль" aria-pressed="false">
            <img class="cabinet-field__toggle-icon" src="img/svg/eyes-pass.svg" width="24" height="24" alt="" aria-hidden="true">
          </button>
        </span>
      </label>
      <label class="cabinet-field">
        <span class="cabinet-field__label">Новый пароль</span>
        <span class="cabinet-field__control">
          <input class="cabinet-field__input" type="password" name="password-new" autocomplete="new-password" required>
          <button class="cabinet-field__toggle btn-reset" type="button" data-password-toggle aria-label="Показать пароль" aria-pressed="false">
            <img class="cabinet-field__toggle-icon" src="img/svg/eyes-pass.svg" width="24" height="24" alt="" aria-hidden="true">
          </button>
        </span>
      </label>
      <label class="cabinet-field">
        <span class="cabinet-field__label">Повторить пароль</span>
        <span class="cabinet-field__control">
          <input class="cabinet-field__input" type="password" name="password-repeat" autocomplete="new-password" required>
          <button class="cabinet-field__toggle btn-reset" type="button" data-password-toggle aria-label="Показать пароль" aria-pressed="false">
            <img class="cabinet-field__toggle-icon" src="img/svg/eyes-pass.svg" width="24" height="24" alt="" aria-hidden="true">
          </button>
        </span>
      </label>
    </div>
    <button class="cabinet-pass__submit btn-reset" type="submit">Сменить пароль</button>
  </div>
</form>
