<div class="cabinet-order-cards">
  <article class="cabinet-order-card cabinet-order-card--open">
    <div class="cabinet-order-card__head">
      <div class="cabinet-order-card__head-main">
        <h2 class="cabinet-order-card__title">Заказ №&nbsp;12345 от&nbsp;02.09.2025</h2>
        <button class="cabinet-order-card__ghost btn-reset" type="button">Повторить заказ</button>
        <p class="cabinet-order-card__total">20&nbsp;990&nbsp;₽</p>
      </div>
      <button class="cabinet-order-card__details btn-reset" type="button" data-order-details-toggle aria-expanded="true">Детали заказа</button>
    </div>
    <div class="cabinet-order-card__table-wrap">
      <table class="cabinet-order-table">
        <thead>
          <tr>
            <th class="cabinet-order-table__col-name" scope="col">Название товара</th>
            <th class="cabinet-order-table__col-price" scope="col">Цена за&nbsp;штуку</th>
            <th class="cabinet-order-table__col-qty" scope="col">Количество</th>
            <th class="cabinet-order-table__col-sum" scope="col">Сумма</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cabinet-order-table__cell-name">
              <span class="cabinet-order-table__product">
                <img class="cabinet-order-table__thumb" src="img/home/product-chimney.png" width="50" height="40" loading="lazy" alt="">
                <span>Тройник 135°</span>
              </span>
            </td>
            <td>20&nbsp;990&nbsp;₽/шт</td>
            <td>10&nbsp;шт</td>
            <td>20&nbsp;990&nbsp;₽</td>
          </tr>
          <tr>
            <td class="cabinet-order-table__cell-name">
              <span class="cabinet-order-table__product">
                <img class="cabinet-order-table__thumb" src="img/home/product-chimney.png" width="50" height="40" loading="lazy" alt="">
                <span>Тройник 135°</span>
              </span>
            </td>
            <td>20&nbsp;990&nbsp;₽/шт</td>
            <td>10&nbsp;шт</td>
            <td>20&nbsp;990&nbsp;₽</td>
          </tr>
          <tr>
            <td class="cabinet-order-table__cell-name">
              <span class="cabinet-order-table__product">
                <img class="cabinet-order-table__thumb" src="img/home/product-chimney.png" width="50" height="40" loading="lazy" alt="">
                <span>Тройник 135°</span>
              </span>
            </td>
            <td>20&nbsp;990&nbsp;₽/шт</td>
            <td>10&nbsp;шт</td>
            <td>20&nbsp;990&nbsp;₽</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
  <article class="cabinet-order-card">
    <div class="cabinet-order-card__head">
      <div class="cabinet-order-card__head-main">
        <h2 class="cabinet-order-card__title">Заказ №&nbsp;12344 от&nbsp;28.08.2025</h2>
        <button class="cabinet-order-card__ghost btn-reset" type="button">Повторить заказ</button>
        <p class="cabinet-order-card__total">8&nbsp;450&nbsp;₽</p>
      </div>
      <button class="cabinet-order-card__details btn-reset" type="button" data-order-details-toggle aria-expanded="false">Детали заказа</button>
    </div>
    <div class="cabinet-order-card__table-wrap">
      <table class="cabinet-order-table">
        <thead>
          <tr>
            <th class="cabinet-order-table__col-name" scope="col">Название товара</th>
            <th class="cabinet-order-table__col-price" scope="col">Цена за&nbsp;штуку</th>
            <th class="cabinet-order-table__col-qty" scope="col">Количество</th>
            <th class="cabinet-order-table__col-sum" scope="col">Сумма</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cabinet-order-table__cell-name">
              <span class="cabinet-order-table__product">
                <img class="cabinet-order-table__thumb" src="img/home/product-chimney.png" width="50" height="40" loading="lazy" alt="">
                <span>Заглушка для дымохода</span>
              </span>
            </td>
            <td>845&nbsp;₽/шт</td>
            <td>10&nbsp;шт</td>
            <td>8&nbsp;450&nbsp;₽</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
  <article class="cabinet-order-card">
    <div class="cabinet-order-card__head">
      <div class="cabinet-order-card__head-main">
        <h2 class="cabinet-order-card__title">Заказ №&nbsp;12343 от&nbsp;15.08.2025</h2>
        <button class="cabinet-order-card__ghost btn-reset" type="button">Повторить заказ</button>
        <p class="cabinet-order-card__total">12&nbsp;300&nbsp;₽</p>
      </div>
      <button class="cabinet-order-card__details btn-reset" type="button" data-order-details-toggle aria-expanded="false">Детали заказа</button>
    </div>
    <div class="cabinet-order-card__table-wrap">
      <table class="cabinet-order-table">
        <thead>
          <tr>
            <th class="cabinet-order-table__col-name" scope="col">Название товара</th>
            <th class="cabinet-order-table__col-price" scope="col">Цена за&nbsp;штуку</th>
            <th class="cabinet-order-table__col-qty" scope="col">Количество</th>
            <th class="cabinet-order-table__col-sum" scope="col">Сумма</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="cabinet-order-table__cell-name">
              <span class="cabinet-order-table__product">
                <img class="cabinet-order-table__thumb" src="img/home/product-chimney.png" width="50" height="40" loading="lazy" alt="">
                <span>Колено 90°</span>
              </span>
            </td>
            <td>4&nbsp;100&nbsp;₽/шт</td>
            <td>3&nbsp;шт</td>
            <td>12&nbsp;300&nbsp;₽</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</div>
