<div class="cabinet-strip">
  <div class="cabinet-strip__row cabinet-strip__row--categories">
    <nav class="cabinet-strip__nav" aria-label="Каталог в шапке">
      <a class="cabinet-strip__link" href="#">Решения для бани</a>
      <a class="cabinet-strip__link" href="#">Отопительные системы для дома</a>
      <a class="cabinet-strip__link" href="#">Дымоходы</a>
      <a class="cabinet-strip__link" href="#">Грили</a>
      <a class="cabinet-strip__link" href="#">Печи для бани</a>
      <a class="cabinet-strip__link" href="#">Баки</a>
      <a class="cabinet-strip__link" href="#">Продукция</a>
    </nav>
  </div>
</div>
