<div class="cabinet-dealer-list materials-files">
  <ul class="materials-files__list list-reset">
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
    <li class="materials-files__cell"><a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a></li>
  </ul>
</div>
