<div class="cabinet-lead">
  <h1 class="cabinet-lead__title">Личный кабинет</h1>
  <ul class="cabinet-tabs list-reset">
    <li class="cabinet-tabs__item">
      <a class="cabinet-tabs__link cabinet-tabs__link--active" href="cabinet-orders-empty.html" aria-current="page">История заказов</a>
    </li>
    <li class="cabinet-tabs__item">
      <a class="cabinet-tabs__link" href="cabinet-dealer-files.html">Файлы для дилера</a>
    </li>
    <li class="cabinet-tabs__item">
      <a class="cabinet-tabs__link" href="cabinet-password.html">Смена пароля</a>
    </li>
  </ul>
</div>
