<section class="catalog-subcats" aria-label="Подкатегории">
  <div class="container">
    <ul class="catalog-subcats__list list-reset">
      <li>
        <a class="catalog-subcats__item" href="#">
          <span class="catalog-subcats__thumb" aria-hidden="true"></span>
          <span class="catalog-subcats__label">Подкатегория</span>
        </a>
      </li>
      <li>
        <a class="catalog-subcats__item" href="#">
          <span class="catalog-subcats__thumb" aria-hidden="true"></span>
          <span class="catalog-subcats__label">Подкатегория</span>
        </a>
      </li>
      <li>
        <a class="catalog-subcats__item" href="#">
          <span class="catalog-subcats__thumb" aria-hidden="true"></span>
          <span class="catalog-subcats__label">Подкатегория</span>
        </a>
      </li>
      <li>
        <a class="catalog-subcats__item" href="#">
          <span class="catalog-subcats__thumb" aria-hidden="true"></span>
          <span class="catalog-subcats__label">Подкатегория</span>
        </a>
      </li>
    </ul>
  </div>
</section>
