<div class="checkout">
  <div class="checkout__cart" role="region" aria-label="Состав заказа">
    <article class="checkout-line">
      <div class="checkout-line__product">
        <a class="checkout-line__media" href="#">
          <img src="img/home/product-chimney.png" width="88" height="70" loading="lazy" alt="">
        </a>
        <a class="checkout-line__name" href="#">Тройник 135°</a>
      </div>
      <p class="checkout-line__ppu">20&nbsp;990&nbsp;₽/шт</p>
      <div class="checkout-line__qty">
        <label class="visually-hidden" for="checkout-qty-1">Количество</label>
        <div class="checkout-stepper" data-checkout-stepper>
          <button class="checkout-stepper__btn checkout-stepper__btn--minus btn-reset" type="button" aria-label="Уменьшить">
            <span class="checkout-stepper__icon checkout-stepper__icon--minus" aria-hidden="true"></span>
          </button>
          <input class="checkout-stepper__input" id="checkout-qty-1" type="number" name="qty-1" min="1" value="1000" inputmode="numeric">
          <button class="checkout-stepper__btn checkout-stepper__btn--plus btn-reset" type="button" aria-label="Увеличить">
            <span class="checkout-stepper__icon checkout-stepper__icon--plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <p class="checkout-line__sum"><span class="visually-hidden">Сумма по позиции:</span>200&nbsp;990&nbsp;₽</p>
      <span class="checkout-line__badge checkout-line__badge--ok">В наличии</span>
      <button class="checkout-line__remove btn-reset" type="button" aria-label="Убрать из заказа">
        <svg
          class="checkout-line__remove-icon"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="img/svg/circle-x.svg#circle-x" href="img/svg/circle-x.svg#circle-x"></use>
        </svg>
      </button>
    </article>
    <article class="checkout-line checkout-line--notice-price">
      <div class="checkout-line__product">
        <a class="checkout-line__media" href="#">
          <img src="img/home/product-chimney.png" width="88" height="70" loading="lazy" alt="">
        </a>
        <a class="checkout-line__name" href="#">Тройник 135°</a>
      </div>
      <p class="checkout-line__ppu">20&nbsp;990&nbsp;₽/шт</p>
      <div class="checkout-line__qty">
        <label class="visually-hidden" for="checkout-qty-2">Количество</label>
        <div class="checkout-stepper" data-checkout-stepper>
          <button class="checkout-stepper__btn checkout-stepper__btn--minus btn-reset" type="button" aria-label="Уменьшить">
            <span class="checkout-stepper__icon checkout-stepper__icon--minus" aria-hidden="true"></span>
          </button>
          <input class="checkout-stepper__input" id="checkout-qty-2" type="number" name="qty-2" min="1" value="1" inputmode="numeric">
          <button class="checkout-stepper__btn checkout-stepper__btn--plus btn-reset" type="button" aria-label="Увеличить">
            <span class="checkout-stepper__icon checkout-stepper__icon--plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <p class="checkout-line__sum"><span class="visually-hidden">Сумма по позиции:</span>1&nbsp;200&nbsp;990&nbsp;₽</p>
      <span class="checkout-line__badge checkout-line__badge--ok">В наличии</span>
      <div class="checkout-line__notice" role="status">
        <p class="checkout-line__notice-text">Изменилась цена товара</p>
        <span class="checkout-line__notice-close" aria-hidden="true">
          <svg
            class="checkout-line__notice-icon"
            width="20"
            height="20"
            viewBox="0 0 36 36"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            focusable="false"
          >
            <use xlink:href="img/svg/circle-x.svg#circle-x" href="img/svg/circle-x.svg#circle-x"></use>
          </svg>
        </span>
      </div>
    </article>
    <article class="checkout-line checkout-line--placeholder">
      <div class="checkout-line__product">
        <span class="checkout-line__media checkout-line__media--placeholder">
          <img src="img/home/product-chimney.png" width="48" height="40" loading="lazy" alt="">
        </span>
        <div class="checkout-line__info">
          <span class="checkout-line__name checkout-line__name--placeholder">Наименование товара</span>
          <button class="checkout-line__restore btn-reset" type="button">Вернуть удаленный товар</button>
        </div>
      </div>
      <button class="checkout-line__remove btn-reset" type="button" aria-label="Убрать из заказа">
        <svg
          class="checkout-line__remove-icon"
          width="36"
          height="36"
          viewBox="0 0 36 36"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="img/svg/circle-x.svg#circle-x" href="img/svg/circle-x.svg#circle-x"></use>
        </svg>
      </button>
    </article>
    <article class="checkout-line checkout-line--issues">
      <div class="checkout-line__product">
        <a class="checkout-line__media" href="#">
          <img src="img/home/product-chimney.png" width="88" height="70" loading="lazy" alt="">
        </a>
        <a class="checkout-line__name" href="#">Тройник 135°</a>
      </div>
      <p class="checkout-line__ppu">20&nbsp;990&nbsp;₽/шт</p>
      <div class="checkout-line__qty">
        <label class="visually-hidden" for="checkout-qty-3">Количество</label>
        <div class="checkout-stepper" data-checkout-stepper>
          <button class="checkout-stepper__btn checkout-stepper__btn--minus btn-reset" type="button" aria-label="Уменьшить">
            <span class="checkout-stepper__icon checkout-stepper__icon--minus" aria-hidden="true"></span>
          </button>
          <input class="checkout-stepper__input" id="checkout-qty-3" type="number" name="qty-3" min="1" value="1" inputmode="numeric">
          <button class="checkout-stepper__btn checkout-stepper__btn--plus btn-reset" type="button" aria-label="Увеличить">
            <span class="checkout-stepper__icon checkout-stepper__icon--plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <p class="checkout-line__sum"><span class="visually-hidden">Сумма по позиции:</span>20&nbsp;990&nbsp;₽</p>
      <span class="checkout-line__badge checkout-line__badge--stock">Нет в наличии</span>
      <div class="checkout-line__notice checkout-line__notice--alert" role="alert">
        <p class="checkout-line__notice-text">Товар закончился</p>
        <span class="checkout-line__notice-close" aria-hidden="true">
          <svg
            class="checkout-line__notice-icon"
            width="20"
            height="20"
            viewBox="0 0 36 36"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            focusable="false"
          >
            <use xlink:href="img/svg/circle-x.svg#circle-x" href="img/svg/circle-x.svg#circle-x"></use>
          </svg>
        </span>
      </div>
    </article>
  </div>
  <hr class="checkout__rule">
  <div class="checkout-summary checkout-summary--bar">
    <dl class="checkout-summary__bar">
      <div class="checkout-summary__pair">
        <dt>Общее количество:</dt>
        <dd><span class="checkout-summary__value">1002</span></dd>
      </div>
      <div class="checkout-summary__pair">
        <dt>Итого:</dt>
        <dd><span class="checkout-summary__value">1&nbsp;421&nbsp;970&nbsp;₽</span></dd>
      </div>
    </dl>
  </div>
  <div class="checkout-comment">
    <label class="checkout-comment__label" for="checkout-comment">Комментарий к заказу</label>
    <textarea class="checkout-comment__field" id="checkout-comment" name="comment" rows="4" placeholder=""></textarea>
  </div>
  <p class="checkout__alert" role="status">
    Цена некоторых товаров изменилась, или (и)&nbsp;некоторые товары закончились.
  </p>
  <button class="checkout__submit btn-reset" type="submit">Оформить заказ</button>
</div>
