<section class="chimneys-configurator" aria-labelledby="chimneys-configurator-heading">
  <div class="container">
    <div class="chimneys-configurator__panel">
      <div class="chimneys-configurator__stack">
        <figure class="chimneys-configurator__figure chimneys-configurator__figure--left">
          <picture>
            <source srcset="img/equipment/q1.webp" type="image/webp">
            <img
              class="chimneys-configurator__img"
              src="img/equipment/q1.png"
              width="369"
              height="336"
              loading="lazy"
              alt=""
            >
          </picture>
        </figure>
        <div class="chimneys-configurator__top">
          <div class="chimneys-configurator__intro">
            <h2 class="chimneys-configurator__heading" id="chimneys-configurator-heading">
              Конфигуратор дымохода
            </h2>
            <p class="chimneys-configurator__lead">
              Выберите тип теплогенератора и&nbsp;схему монтажа&nbsp;&mdash; конфигуратор составит список элементов с&nbsp;количеством.
            </p>
          </div>
          <button
            class="chimneys-configurator__start btn-reset"
            type="button"
            data-quiz-open
            data-graph-path="quiz"
          >
            Начать&nbsp;&rarr;
          </button>
        </div>
        <figure class="chimneys-configurator__figure chimneys-configurator__figure--right">
          <picture>
            <source srcset="img/equipment/q2.webp" type="image/webp">
            <img
              class="chimneys-configurator__img"
              src="img/equipment/q2.png"
              width="343"
              height="312"
              loading="lazy"
              alt=""
            >
          </picture>
        </figure>
      </div>

      <button
        class="chimneys-configurator__faq btn-reset"
        type="button"
        data-graph-path="quiz-hint"
        aria-label="Справка по подбору"
      >
        ?
      </button>
    </div>
  </div>
</section>
