<section class="article-product-feature article-product-feature--equipment" aria-labelledby="equipment-product-feature-title">
  <div class="container">
    <div class="section-head">
      <span class="section-head__line section-head__line--left"></span>
      <h2 class="section-head__title" id="equipment-product-feature-title">трехконтурный дымоход</h2>
      <span class="section-head__line section-head__line--right"></span>
    </div>
    @include('equipment-product-feature-content.html')
  </div>
</section>
