<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <h1 class="hero__title">Инженерные решения для бани, дома и огня</h1>
        <p class="hero__subtitle">Печи, дымоходы и системы вентиляции</p>
        <button class="hero__cta btn-reset" type="button" data-quiz-open data-graph-path="quiz">
          Подобрать печь для бани
        </button>
      </div>
      <div class="hero__media" aria-hidden="true">
        <picture>
          <source srcset="img/home/hero-main.webp" type="image/webp">
          <img src="img/home/hero-main.png" width="526" height="441" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
