<section class="materials-videos" aria-labelledby="materials-videos-title" data-materials-videos>
  <div class="container">
    <div class="section-head materials-videos__head">
      <span class="section-head__line section-head__line--left"></span>
      <h2 class="section-head__title" id="materials-videos-title">Видеоматериалы</h2>
      <span class="section-head__line section-head__line--right"></span>
    </div>
    <div class="materials-videos__layout">
      <div class="materials-videos__feature">
        <article class="academy-video materials-videos__player">
          <button
            class="academy-video__preview btn-reset"
            type="button"
            data-materials-video-preview
            data-video-modal
            data-graph-path="video"
            data-video-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
            aria-label="Открыть видео"
          >
            <picture>
              <source srcset="img/home/academy-video-preview.webp" type="image/webp">
              <img src="img/home/academy-video-preview.png" width="792" height="400" loading="lazy" alt="">
            </picture>
            <span class="academy-video__play" aria-hidden="true"></span>
          </button>
          <div class="academy-video__meta">
            <h3 data-materials-video-heading>Сердце парной: выбираем банную печь</h3>
            <span data-materials-video-duration>5 мин</span>
          </div>
        </article>
      </div>
      <aside class="materials-videos__aside">
        <label class="materials-search">
          <span class="visually-hidden">Поиск по видеозаписи</span>
          <input class="materials-search__input" type="search" name="video-search" placeholder="Поиск по видеозаписи" autocomplete="off">
          <span class="materials-search__icon" aria-hidden="true">
            <img src="img/svg/Magnifer.svg" width="24" height="24" alt="">
          </span>
        </label>
        <ul class="materials-videos__list list-reset">
          <li>
            <button
              class="materials-videos__pick materials-videos__pick--active btn-reset"
              type="button"
              data-video-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
              data-video-poster-webp="img/home/academy-video-preview.webp"
              data-video-poster="img/home/academy-video-preview.png"
              data-video-title="Сердце парной: выбираем банную печь"
              data-video-duration="5 мин"
            >Сердце парной: выбираем банную печь</button>
          </li>
          <li>
            <button
              class="materials-videos__pick btn-reset"
              type="button"
              data-video-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
              data-video-poster-webp="img/home/academy-video-preview.webp"
              data-video-poster="img/home/academy-video-preview.png"
              data-video-title="Сердце парной: выбираем банную печь"
              data-video-duration="5 мин"
            >Сердце парной: выбираем банную печь</button>
          </li>
          <li>
            <button
              class="materials-videos__pick btn-reset"
              type="button"
              data-video-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
              data-video-poster-webp="img/home/academy-video-preview.webp"
              data-video-poster="img/home/academy-video-preview.png"
              data-video-title="Сердце парной: выбираем банную печь"
              data-video-duration="5 мин"
            >Сердце парной: выбираем банную печь</button>
          </li>
          <li>
            <button
              class="materials-videos__pick btn-reset"
              type="button"
              data-video-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
              data-video-poster-webp="img/home/academy-video-preview.webp"
              data-video-poster="img/home/academy-video-preview.png"
              data-video-title="Сердце парной: выбираем банную печь"
              data-video-duration="5 мин"
            >Сердце парной: выбираем банную печь</button>
          </li>
          <li>
            <button
              class="materials-videos__pick btn-reset"
              type="button"
              data-video-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
              data-video-poster-webp="img/home/academy-video-preview.webp"
              data-video-poster="img/home/academy-video-preview.png"
              data-video-title="Сердце парной: выбираем банную печь"
              data-video-duration="5 мин"
            >Сердце парной: выбираем банную печь</button>
          </li>
          <li>
            <button
              class="materials-videos__pick btn-reset"
              type="button"
              data-video-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
              data-video-poster-webp="img/home/academy-video-preview.webp"
              data-video-poster="img/home/academy-video-preview.png"
              data-video-title="Сердце парной: выбираем банную печь"
              data-video-duration="5 мин"
            >Сердце парной: выбираем банную печь</button>
          </li>
          <li>
            <button
              class="materials-videos__pick btn-reset"
              type="button"
              data-video-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
              data-video-poster-webp="img/home/academy-video-preview.webp"
              data-video-poster="img/home/academy-video-preview.png"
              data-video-title="Сердце парной: выбираем банную печь"
              data-video-duration="5 мин"
            >Сердце парной: выбираем банную печь</button>
          </li>
          <li>
            <button
              class="materials-videos__pick btn-reset"
              type="button"
              data-video-src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
              data-video-poster-webp="img/home/academy-video-preview.webp"
              data-video-poster="img/home/academy-video-preview.png"
              data-video-title="Сердце парной: выбираем банную печь"
              data-video-duration="5 мин"
            >Сердце парной: выбираем банную печь</button>
          </li>
        </ul>
        @include('materials-pagination.html')
      </aside>
    </div>
  </div>
</section>
