<section class="materials-board materials-board--files" aria-labelledby="materials-files-title">
  <div class="container">
    <div class="section-head materials-board__head">
      <span class="section-head__line section-head__line--left"></span>
      <h2 class="section-head__title" id="materials-files-title">Файлы для скачивания</h2>
      <span class="section-head__line section-head__line--right"></span>
    </div>
    <div class="materials-board__toolbar">
      <div class="materials-board__chips materials-board__chips--narrow" role="group" aria-label="Тип файла">
        <button class="materials-chip btn-reset" type="button">Тип</button>
        <button class="materials-chip btn-reset" type="button">Тип</button>
        <button class="materials-chip btn-reset" type="button">Тип</button>
        <button class="materials-chip btn-reset" type="button">Тип</button>
        <button class="materials-chip btn-reset" type="button">Тип</button>
        <button class="materials-chip materials-chip--accent btn-reset" type="button">Все</button>
      </div>
      <label class="materials-search materials-search--compact">
        <span class="visually-hidden">Поиск по файлам</span>
        <input class="materials-search__input" type="search" name="files-search" placeholder="Поиск по файлам" autocomplete="off">
        <span class="materials-search__icon" aria-hidden="true">
          <img src="img/svg/Magnifer.svg" width="24" height="24" alt="">
        </span>
      </label>
    </div>
    <div class="materials-files">
      <ul class="materials-files__list list-reset">
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
        <li class="materials-files__cell">
          <a class="materials-files__link" href="#">Заголовок статьи может быть 2 или 3 строчки, а может быть и четыре</a>
        </li>
      </ul>
    </div>
    @include('materials-pagination.html')
  </div>
</section>
