<nav class="materials-pagination" aria-label="Номера страниц">
  <ul class="materials-pagination__list list-reset">
    <li><a class="materials-pagination__link materials-pagination__link--active" href="#">1</a></li>
    <li><a class="materials-pagination__link" href="#">2</a></li>
    <li><a class="materials-pagination__link" href="#">3</a></li>
    <li><span class="materials-pagination__ellipsis" aria-hidden="true">…</span></li>
    <li><a class="materials-pagination__link" href="#">99</a></li>
  </ul>
</nav>
