<nav class="price-series-nav" aria-label="Серии продукции" data-price-series-nav>
  <div class="container">
    <ul class="price-series-nav__list list-reset">
      <li><button class="price-series-nav__btn price-series-nav__btn--active btn-reset" type="button" data-price-series-link>Названием серии</button></li>
      <li><button class="price-series-nav__btn btn-reset" type="button" data-price-series-link>Названием серии</button></li>
      <li><button class="price-series-nav__btn btn-reset" type="button" data-price-series-link>Названием серии</button></li>
      <li><button class="price-series-nav__btn btn-reset" type="button" data-price-series-link>Названием серии</button></li>
      <li><button class="price-series-nav__btn btn-reset" type="button" data-price-series-link>Названием серии</button></li>
    </ul>
  </div>
</nav>
