<div class="price-filters" role="group" aria-label="Фильтры таблицы">
  <div class="price-filter" data-price-filter>
    <div class="price-filter__control">
      <button
        class="price-filter__toggle btn-reset"
        type="button"
        aria-expanded="false"
        aria-haspopup="listbox"
        data-price-filter-toggle
      >
        <span class="price-filter__label">Толщина металла</span>
      </button>
      <div
        class="price-filter__dropdown"
        role="listbox"
        aria-label="Толщина металла"
        aria-hidden="true"
        data-price-filter-dropdown
      >
        <button class="price-filter__option price-filter__option--active btn-reset" type="button" role="option" data-price-filter-option>0,5&nbsp;мм</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>0,8&nbsp;мм</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>1,0&nbsp;мм</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>1,2&nbsp;мм</button>
      </div>
    </div>
  </div>

  <div class="price-filter" data-price-filter>
    <div class="price-filter__control">
      <button
        class="price-filter__toggle btn-reset"
        type="button"
        aria-expanded="false"
        aria-haspopup="listbox"
        data-price-filter-toggle
      >
        <span class="price-filter__label">Диаметр</span>
      </button>
      <div
        class="price-filter__dropdown"
        role="listbox"
        aria-label="Диаметр"
        aria-hidden="true"
        data-price-filter-dropdown
      >
        <button class="price-filter__option price-filter__option--active btn-reset" type="button" role="option" data-price-filter-option>Все диаметры</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>80</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>100</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>110</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>115</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>120</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>125</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>130</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>150</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>200</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>250</button>
        <button class="price-filter__option btn-reset" type="button" role="option" data-price-filter-option>300</button>
      </div>
    </div>
  </div>
</div>
