<section class="price-group" data-price-group>
  <h2 class="price-group__title">Подзаголовок&nbsp;с&nbsp;названием серии</h2>
  @include('price-table-filters.html')
  <div class="article-body__table-wrap price-table-wrap price-table-wrap--matrix" data-price-table-scroll>
    <table class="article-body__table price-table price-table--matrix">
      <thead>
        <tr class="price-table__head-group">
          <th class="price-table__th-name" rowspan="2" scope="colgroup">Наименование</th>
          <th class="price-table__th-diams" colspan="16" scope="colgroup">Диаметры</th>
        </tr>
        <tr class="price-table__head-diams">
          <th scope="col">80</th>
          <th scope="col">100</th>
          <th scope="col">110</th>
          <th scope="col">115</th>
          <th scope="col">120</th>
          <th scope="col">125</th>
          <th scope="col">130</th>
          <th scope="col">135</th>
          <th scope="col">140</th>
          <th scope="col">150</th>
          <th scope="col">160</th>
          <th scope="col">180</th>
          <th scope="col">200</th>
          <th scope="col">220</th>
          <th scope="col">250</th>
          <th scope="col">300</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="price-table__name" scope="row">Адаптер ММ (430/0,5&nbsp;мм)</th>
          <td class="price-table__cell-price">132&nbsp;₽</td>
          <td class="price-table__cell-price price-table__cell-price--order">
            @include('price-table-cell-order.html')
          </td>
          <td class="price-table__cell-price">198&nbsp;₽</td>
          <td class="price-table__cell-price">198&nbsp;₽</td>
          <td class="price-table__cell-price">198&nbsp;₽</td>
          <td class="price-table__cell-price">214&nbsp;₽</td>
          <td class="price-table__cell-price">214&nbsp;₽</td>
          <td class="price-table__cell-price">214&nbsp;₽</td>
          <td class="price-table__cell-price">214&nbsp;₽</td>
          <td class="price-table__cell-price">230&nbsp;₽</td>
          <td class="price-table__cell-price">230&nbsp;₽</td>
          <td class="price-table__cell-price">246&nbsp;₽</td>
          <td class="price-table__cell-price">262&nbsp;₽</td>
          <td class="price-table__cell-price">278&nbsp;₽</td>
          <td class="price-table__cell-price">310&nbsp;₽</td>
          <td class="price-table__cell-price">358&nbsp;₽</td>
        </tr>
        <tr>
          <th class="price-table__name" scope="row">Адаптер ММ (430/0,5&nbsp;мм)</th>
          <td class="price-table__cell-price">132&nbsp;₽</td>
          <td class="price-table__cell-price price-table__cell-price--order">
            @include('price-table-cell-order.html')
          </td>
          <td class="price-table__cell-price">198&nbsp;₽</td>
          <td class="price-table__cell-price">198&nbsp;₽</td>
          <td class="price-table__cell-price">198&nbsp;₽</td>
          <td class="price-table__cell-price">214&nbsp;₽</td>
          <td class="price-table__cell-price">214&nbsp;₽</td>
          <td class="price-table__cell-price">214&nbsp;₽</td>
          <td class="price-table__cell-price">214&nbsp;₽</td>
          <td class="price-table__cell-price">230&nbsp;₽</td>
          <td class="price-table__cell-price">230&nbsp;₽</td>
          <td class="price-table__cell-price">246&nbsp;₽</td>
          <td class="price-table__cell-price">262&nbsp;₽</td>
          <td class="price-table__cell-price">278&nbsp;₽</td>
          <td class="price-table__cell-price">310&nbsp;₽</td>
          <td class="price-table__cell-price">358&nbsp;₽</td>
        </tr>
        <tr class="price-table__row--hidden" data-price-collapsed-row>
          <th class="price-table__name" scope="row">Адаптер ММ (430/0,5&nbsp;мм)</th>
          <td class="price-table__cell-price">132&nbsp;₽</td>
          <td class="price-table__cell-price price-table__cell-price--order">
            @include('price-table-cell-order.html')
          </td>
          <td class="price-table__cell-price">198&nbsp;₽</td>
          <td class="price-table__cell-price">198&nbsp;₽</td>
          <td class="price-table__cell-price">198&nbsp;₽</td>
          <td class="price-table__cell-price">214&nbsp;₽</td>
          <td class="price-table__cell-price">214&nbsp;₽</td>
          <td class="price-table__cell-price">214&nbsp;₽</td>
          <td class="price-table__cell-price">214&nbsp;₽</td>
          <td class="price-table__cell-price">230&nbsp;₽</td>
          <td class="price-table__cell-price">230&nbsp;₽</td>
          <td class="price-table__cell-price">246&nbsp;₽</td>
          <td class="price-table__cell-price">262&nbsp;₽</td>
          <td class="price-table__cell-price">278&nbsp;₽</td>
          <td class="price-table__cell-price">310&nbsp;₽</td>
          <td class="price-table__cell-price">358&nbsp;₽</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="price-group__expand btn-reset" type="button" data-price-expand>Развернуть все</button>
</section>
