<div class="price-series-bar">
  <div class="container price-series-bar__inner">
    <h2 class="price-spotlight__title price-series-bar__title" id="price-page-heading">Выберите&nbsp;категорию</h2>
    <nav class="price-series-nav" aria-label="Серии продукции" data-price-series-nav>
      <ul class="price-series-nav__list list-reset">
        <li><button class="price-series-nav__btn price-series-nav__btn--active btn-reset" type="button" data-price-series-link>Названием серии</button></li>
        <li><button class="price-series-nav__btn btn-reset" type="button" data-price-series-link>Названием серии</button></li>
        <li><button class="price-series-nav__btn btn-reset" type="button" data-price-series-link>Названием серии</button></li>
        <li><button class="price-series-nav__btn btn-reset" type="button" data-price-series-link>Названием серии</button></li>
        <li><button class="price-series-nav__btn btn-reset" type="button" data-price-series-link>Названием серии</button></li>
      </ul>
    </nav>
  </div>
</div>
