<section class="products">
  <div class="container">
    <div class="section-head">
      <span class="section-head__line section-head__line--left"></span>
      <h2 class="section-head__title">Продукция</h2>
      <span class="section-head__line section-head__line--right"></span>
    </div>
    <ul class="products__list list-reset">
      <li class="products__cell">
        <a class="products__item" href="#">
          <picture><source srcset="img/home/product-bath-stove.webp" type="image/webp"><img src="img/home/product-bath-stove.png" width="120" height="100" alt=""></picture>
          <span>Печи для бани</span>
        </a>
      </li>
      <li class="products__cell">
        <a class="products__item" href="#">
          <picture><source srcset="img/home/product-chimney.webp" type="image/webp"><img src="img/home/product-chimney.png" width="120" height="100" alt=""></picture>
          <span>Дымоходы</span>
        </a>
      </li>
      <li class="products__cell">
        <a class="products__item" href="#">
          <picture><source srcset="img/home/product-bath-ventilation.webp" type="image/webp"><img src="img/home/product-bath-ventilation.png" width="120" height="100" alt=""></picture>
          <span>Вентиляция для бани</span>
        </a>
      </li>
      <li class="products__cell">
        <a class="products__item" href="#">
          <picture><source srcset="img/home/product-pouring-device.webp" type="image/webp"><img src="img/home/product-pouring-device.png" width="120" height="100" alt=""></picture>
          <span>Обливное устройство</span>
        </a>
      </li>
      <li class="products__cell">
        <a class="products__item" href="#">
          <picture><source srcset="img/home/product-home-stove.webp" type="image/webp"><img src="img/home/product-home-stove.png" width="120" height="100" alt=""></picture>
          <span>Печи для дома</span>
        </a>
      </li>
      <li class="products__cell">
        <a class="products__item" href="#">
          <picture><source srcset="img/home/product-tanks.webp" type="image/webp"><img src="img/home/product-tanks.png" width="120" height="100" alt=""></picture>
          <span>Баки</span>
        </a>
      </li>
      <li class="products__cell">
        <a class="products__item" href="#">
          <picture><source srcset="img/home/product-grills.webp" type="image/webp"><img src="img/home/product-grills.png" width="120" height="100" alt=""></picture>
          <span>Грили, мангалы</span>
        </a>
      </li>
      <li class="products__cell">
        <a class="products__item" href="#">
          <picture><source srcset="img/home/product-accessories.webp" type="image/webp"><img src="img/home/product-accessories.png" width="120" height="100" alt=""></picture>
          <span>Аксессуары</span>
        </a>
      </li>
    </ul>
  </div>
</section>
