<section class="hero hero--chimneys">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <nav class="hero__breadcrumb" aria-label="Навигация по разделам">Главная/Название серии</nav>
        <h1 class="hero__title">название серии</h1>
        <p class="hero__subtitle">Предназначена для отопления частных домов, дач, гаражей, теплиц, а также для приготовления и разогрева пищи. Печь относится к нагревательным устройствам конвекционного типа, работающим на твердом топливе (дрова)</p>
      </div>
      <figure class="hero__media hero__media--chimneys">
        <div class="hero__slider swiper hero__slider--chimneys" data-chimneys-hero-slider>
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-caption="Название модификации">
              <div class="hero__slide-visual">
                <picture>
                  <source srcset="img/article/article-body-hero.webp" type="image/webp">
                  <img src="img/article/article-body-hero.png" width="515" height="274" loading="lazy" alt="">
                </picture>
              </div>
            </div>
            <div class="swiper-slide" data-caption="Вариант комплектации">
              <div class="hero__slide-visual">
                <picture>
                  <source srcset="img/equipment/q1.webp" type="image/webp">
                  <img src="img/equipment/q1.png" width="515" height="274" loading="lazy" alt="">
                </picture>
              </div>
            </div>
            <div class="swiper-slide" data-caption="Схема монтажа">
              <div class="hero__slide-visual">
                <picture>
                  <source srcset="img/equipment/q2.webp" type="image/webp">
                  <img src="img/equipment/q2.png" width="515" height="274" loading="lazy" alt="">
                </picture>
              </div>
            </div>
          </div>
        </div>
        <figcaption class="hero__caption" data-chimneys-hero-caption>Название модификации</figcaption>
        <div class="hero__pagination swiper-pagination" data-chimneys-hero-pagination></div>
      </figure>
    </div>
  </div>
</section>
