<ul class="header__tools header__tools--auth list-reset">
  <li class="header__tools-item">
    <button class="btn-reset" type="button" aria-label="Поиск" aria-expanded="false" aria-controls="header-search-panel" data-header-search-toggle>
      <svg class="icon icon--search" width="20" height="20" aria-hidden="true">
        <use href="img/sprite.svg#Magnifer"></use>
      </svg>
      <span>Поиск</span>
    </button>
  </li>
  <li class="header__tools-item">
    <a class="header__tool-link" href="cabinet-orders.html" aria-label="В кабинет">
      <svg class="icon icon--account" width="20" height="20" aria-hidden="true">
        <use href="img/sprite.svg#header-account"></use>
      </svg>
      <span>В кабинет</span>
    </a>
  </li>
  <li class="header__tools-item header__tools-item--dealer">
    <a class="header__tool-link" href="price.html" aria-label="Прайс">
      <svg class="icon icon--price" width="20" height="20" aria-hidden="true">
        <use href="img/sprite.svg#header-price"></use>
      </svg>
      <span>Прайс</span>
    </a>
    <a class="header__tool-link" href="checkout.html" aria-label="Заявка">
      <svg class="icon icon--request" width="20" height="20" aria-hidden="true">
        <use href="img/sprite.svg#header-request"></use>
      </svg>
      <span>Заявка</span>
    </a>
  </li>
</ul>
