        <div class="header__bottom header__bottom--desktop">
          <nav class="menu" data-menu>
            <ul class="menu__list list-reset">
              <li><a data-menu-item href="#">Решения для бани</a></li>
              <li><a data-menu-item href="#">Отопительные системы для дома</a></li>
              <li><a data-menu-item href="#">Дымоходы</a></li>
              <li><a data-menu-item href="#">Грили</a></li>
            </ul>
          </nav>
          <ul class="header__bottom-links list-reset">
            <li><a href="#">Конфигуратор дымохода</a></li>
            <li><a href="#">Подбор печи</a></li>
            <li><a href="#">Продукция</a></li>
          </ul>
          <button class="burger burger--bottom btn-reset" type="button" aria-label="Открыть меню" aria-expanded="false" data-burger>
            <span class="burger__line"></span>
          </button>
        </div>
