<ul class="header__tools list-reset">
  <li>
    <button class="btn-reset" type="button" aria-label="Поиск" aria-expanded="false" aria-controls="header-search-panel" data-header-search-toggle>
      <svg class="icon icon--search" width="20" height="20" aria-hidden="true">
        <use href="img/sprite.svg#Magnifer"></use>
      </svg>
      <span>Поиск</span>
    </button>
  </li>
  <li>
    <button class="btn-reset" type="button" aria-label="Войти" data-graph-path="auth">
      <svg class="icon icon--login" width="20" height="20" aria-hidden="true">
        <use href="img/sprite.svg#sing"></use>
      </svg>
      <span>Войти</span>
    </button>
  </li>
</ul>
