8шт<div class="graph-modal__container graph-modal__container--auth graph-modal__container--password-reset" role="dialog" aria-modal="true" aria-labelledby="password-reset-modal-title" data-graph-target="password-reset">
  <button class="btn-reset js-modal-close graph-modal__close graph-modal__close--auth" type="button" aria-label="Закрыть окно">
    <svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false">
      <use xlink:href="img/svg/circle-x.svg#circle-x" href="img/svg/circle-x.svg#circle-x"></use>
    </svg>
  </button>
  <div class="graph-modal__content graph-modal__content--auth">
    <form class="auth-modal password-reset-modal" action="#" method="post" data-password-reset-form>
      <div class="section-head password-reset-modal__head">
        <span class="section-head__line section-head__line--left"></span>
        <h2 class="section-head__title" id="password-reset-modal-title">Восстановление пароля</h2>
        <span class="section-head__line section-head__line--right"></span>
      </div>
      <p class="password-reset-modal__lead">
        Новый пароль будет отправлен на&nbsp;вашу почту
        <span class="password-reset-modal__lead-note">(Проверьте почту через 1–2&nbsp;минуты, письмо может попасть в&nbsp;папку Спам)</span>
      </p>
      <div class="auth-modal__body password-reset-modal__body">
        <div class="auth-modal__fields">
          <label class="auth-modal__field">
            <span class="auth-modal__label">Email</span>
            <input class="auth-modal__input input-reset" type="email" name="password-reset-email" autocomplete="email" required>
          </label>
        </div>
        <button class="auth-modal__submit btn-reset" type="submit">Выслать новый пароль</button>
        <div class="auth-modal__footer auth-modal__footer--end">
          <button class="auth-modal__footer-link btn-reset" type="button" data-graph-path="auth">Вспомнили пароль? Вернуться ко&nbsp;входу</button>
        </div>
      </div>
    </form>
  </div>
</div>
