<div class="graph-modal__container graph-modal__container--auth graph-modal__container--password-reset-success" role="dialog" aria-modal="true" aria-labelledby="password-reset-success-title" data-graph-target="password-reset-success">
  <button class="btn-reset js-modal-close graph-modal__close graph-modal__close--auth" type="button" aria-label="Закрыть окно">
    <svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false">
      <use xlink:href="img/svg/circle-x.svg#circle-x" href="img/svg/circle-x.svg#circle-x"></use>
    </svg>
  </button>
  <div class="graph-modal__content graph-modal__content--auth">
    <div class="password-reset-success-modal">
      <h2 class="visually-hidden" id="password-reset-success-title">Пароль отправлен</h2>
      <p class="password-reset-success-modal__text">
        Новый пароль отправлен на&nbsp;email <span data-password-reset-success-email>example@mail.ru</span>. Используйте его для входа.
      </p>
      <p class="password-reset-success-modal__note">Рекомендуем сменить пароль в&nbsp;личном кабинете после входа</p>
    </div>
  </div>
</div>
